{% extends 'blog/base.html' %}
{% block content %}
    <div class="container about">
        <h2>Your Blogging Hub: Create, Manage, and Share Your Posts with Ease</h2>
        <p>Welcome to our blog platform, where you can easily create and manage your entries! Our features include the
            ability to:</p>
        <ul>
            <li>Login</li>
            <li>List posts</li>
            <li>Publish and Remove posts</li>
            <li>Publish and remove comments</li>
            <li>Save and delete drafts</li>
        </ul>
    </div>
{% endblock %}