{% extends 'blog/base.html' %}
{% block content %}
    <div class="centerstage">
        {% if post_list %}
            {% for post in post_list %}
                <div class="post">
                    <h1><a href="{% url 'blog:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                </div>
                <div class="date">
                    <p>Published on: {{ post.published_date|date:"D M Y" }}</p>
                </div>
                <p>{{ post.text|truncatechars:200|safe }}</p>
                <a href="{% url 'blog:post_detail' pk=post.pk %}">Comments: {{ post.approve_comments.count }}</a>
                <hr>
            {% endfor %}
        {% else %}
            <h2>No Post has been published</h2>
            {% if user.is_authenticated %}
                <p><a href="{% url 'blog:post_new' %}">Click to create a New Post</a></p>
                <p><a href="{% url 'blog:post_draft_list' %}">Click to Publish a Post from Drafts</a></p>
            {% else %}
                <h3>Login tp publish a post</h3>
            {% endif %}
        {% endif %}

    </div>
{% endblock %}